<div class="sidebar">
    <div class="logo">
      <img src="assets/img/image.png" width="80px" alt="UDPM Logo">
    </div>
    <ul class="menu">
      <li class="menu-item"><a>Quản lý học kỳ - block</a></li>
      <li class="menu-item"><a>Quản lý lớp môn</a></li>
      <li class="menu-item"><a>Quản lý cơ sở</a></li>
      <li class="menu-item active" [routerLink]="['/']"><a>Quản lý nhân viên</a></li>
      <li class="menu-item"><a>Quản lý lớp học</a></li>
      <li class="menu-item"><a>Quản lý mon học</a></li>
      <li class="menu-item"><a>Quy định phòng thi</a></li>
    </ul>
  </div>
